
<h4>مدیر خوش آمدید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
    <a asp-action="ad">اضافه کردن متخصص</a>
    </div>
    <div class="col-md-5">
        <a asp-action="remove">حذف متخصص</a>
    </div>
    <div class="col-md-6">
        <a asp-action="editing_list">ویرایش جزیئیات متخصص</a>
    </div>
       <div class="col-md-7">
        <a asp-action="report">گرفتن گزارش</a>
    </div>
    </div>
</div>