@model IEnumerable<project.Models.names>


<h4>متخصصین</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.namedoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.namedoc)
                </td>
                <td>
                    <a asp-action="confirmedselect" asp-route-id="@item.id">انتخاب</a> |

                </td>
            </tr>
        }
    </tbody>
</table>