
<h4>ساخت پسورد</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="confirm_create_password">
            <div class="form-group">
                <label for="code" class="control-label">code</label>
                <input name="code" class="form-control" />
            <div class="form-group">
                <label for="password" class="control-label">password</label>
                <input name="pass" class="form-control" />
            </div>
              <div class="form-group">
                <label for="repeat_password" class="control-label">repeat_password</label>
                <input name="repeat_password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
    @if (ViewBag.Message != null)
    {
            <script type="text/javascript">
                window.onload=function(){
                        alert("@ViewBag.Message");
                };
                </script>
    }
</div>

