

<h4>تایید انتخاب</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="selected">
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="choose">بازگشت به لیست</a>
</div>

