
<div class="text-center">
    <h1 class="display-4">شما باید وارد سایت شوید و اگر اکانت ندارید باید اکانت بسازید</h1>

</div>
<div>
    <a asp-action="Create">ساخت اکانت</a>
</div>
<div>
    <a asp-action="login">ورود</a>
</div>