
<h4>ورود</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="login">
            <div class="form-group">
                <label for="email" class="control-label">email</label>
                <input name="email" class="form-control" />
            </div>
              <div class="form-group">
                <label for="password" class="control-label">password</label>
                <input name="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="ورود" class="btn btn-primary" />
            </div>
        </form>
    </div>
          @if(ViewBag.Message!=null){
        <script type="text/javascript">
            window.onload=function(){
                    alert("@ViewBag.Message");
            };
            </script>
    }
</div>
<div>
    <a asp-action="forgotten">آیا رمز عبور خود را فراموش کردید؟</a>
</div>

