

<h4>ثبت نام</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label for="email" class="control-label"></label>
                <input email="email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="فرستادن کد به ایمیل" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
