@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">به کلینیک پروتو خوش آمدید</h1>
    <p>نوبت گیری انلاین.</p>
    <p>درباره ی ما</p>
    <p>کلینیک پرتو یکی از بهترین مراکز روانشناسی اصفهان است</p>
    <p>که متخصصین مجرب در آن فعالیت می کنند</p>
    <p>این سامانه برای رزرو نوبت در مرکز که هدفش آسان سازی نوبت گیری است</p>
</div>
