@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>درباره ما</h1>
<div class="text-center">
<p>ماموریت ما</p>
<p>ماموریت این سامانه آسان سازی دسترسی به اطلاعات و خدمات پزشکی و سلامت، و کمک به متخصصان  برای فعالیت حرفه‌ای بهتر است. </p>
<p> در این سایت  می‌توانید به صورت رایگان دکتر یا تخصص مورد نظر خود را جستجو کرده و پس از مشاهده اطلاعات تکمیلی زمان مراجعه خود را به صورت آنلاین رزرو کنید.</p>
<p>خدمات ما</p>
<p>جست و جو براساس تخصص ونام</p>
<p>مشاهده اطلاعات متخصصان</p>
<p>رزرو نوبت</p>
</div>